body {
background-color: rgb(255, 246, 206);
text-align: center;
}

h1{
    text-align: center;
    font-family: "Pixelify Sans";
}

button{
        font-size: 24px;
        text-align: center;
        background-color: aquamarine;
        border-color: rgb(112, 218, 182);
        border-radius: 5px;
        font-family: monospace;
}
img {
    display: block; margin-left: auto; margin-right: auto; 
}

#timeDisplay {
    font-size: 48px;
    font-family: Arial;
    font-weight: bold;
    margin: 20px 0;
}
.header-container {
    background-color: rgb(252, 237, 172);
    border-radius: 5px;
    
}
.container{
    background-color:rgb(252, 237, 172);
}
.clock{
    background-color:rgb(255, 251, 231)
}