body {
background-color: rgb(255, 246, 206);
text-align: center;
}

h1{
    text-align: center;
    font-family: "Pixelify Sans";
}

button{
        text-align: center;
        background-color: aquamarine;
        border-color: rgb(112, 218, 182);
        border-radius: 5px;
        font-family: monospace;
}
img {
    display: block; margin-left: auto; margin-right: auto; 
}