body {
background-color: rgb(255, 246, 206);
text-align: center;
}

h1{
    text-align: center;
    font-family: "Pixelify Sans";
}

button{
        text-align: center;
}
img {
    display: block; margin-left: auto; margin-right: auto; 
}