@font-face {
  font-family: 'Blue Winter';
  src: url('./fonts/BlueWinter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body{
    background-image: url("fondo sakura.jpg");
}
body > nav.navbar {
position: sticky;
top: 0;
z-index: 1020;
}

.container-about{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    margin-top: 2%;
    border-radius: 20px;
}
.container-search{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(225, 218, 230, 0.8);
    display: flex;
    margin-top: 2%;
    border-radius: 20px;
}

h1{
    text-shadow: palevioletred 2px 1px 2px;
    padding-left: 10%;
}
p{
 padding-left: 10%;
 padding-right: 10%;
 font-size: medium;   
 font-family:  'Times New Roman', Times, serif;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
 }

 /*search bar  */
#NavbarSearchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-family:  'Times New Roman', Times, serif;
}

button{
    background-color: rgb(197, 167, 191);
    border: 10px solid palevioletred;
    color: white;
}

/* navbar */
.navbar-brand {
    font-weight: italic;
    font-size: 1.5rem;
    margin-right: 30px !important;
    color: rgb(165, 88, 150) !important;
    font-family:  'Times New Roman', Times, serif;
}

.navbar-nav {
    gap: 20px;
    list-style: none;
    padding-top: 5px;
    font-family:  'Times New Roman', Times, serif;
}

.nav-item {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 10px 15px !important;
    transition: color 0.3s ease;
    color: #333 !important;
}
.nav-link.active,.nav-link:hover {
    color: rgb(197, 167, 191) !important;
    font-weight: bold;
}

.navbar-toggler {
    margin-left: auto;
}

.container-fluid {
    background-color: rgb(247, 236, 223);
}

/* Obsessions */
.Obsessions{
    width: 400px;
    background-color: rgb(247, 223, 235, 0.8);
    border-radius: 10px;
    padding:10px;
    margin: 20px;
    font-family:  'Times New Roman', Times, serif;
}
#Obsessions-title{
    font-weight: bold;
    justify-content: center;
    display:flex;
}
.currentObsessions{
    display:flex;
    justify-content: center;
    width: 100%;
}
#obsessions-description{
    width: 120%;
    justify-content: center;
    display:flex;
}

/* Favorites */
.favorites{
    font-family:  'Times New Roman', Times, serif;
    width: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(247, 236, 223, 0.9);
    padding:10px;
    margin: 20px;
    border-radius: 10px;
}

#Favorites-title{
    font-weight: bold;
    justify-content: center;
    display:flex;
    width: 100%;
}

#hobbies, #animes, #videogames, #artists, #movies {
    font-weight: bold;
    text-decoration: underline;
    color:rgb(149, 122, 172)
}

/* cool beige color rgba(255, 228, 196, 0.9) */