.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: bisque;
    display: flex;
    margin-top: 2%;
}

h1{
    text-shadow: palevioletred 2px 1px 2px;
    padding-left: 10%;
}
p{
 padding-left: 10%;
 font-size: medium;   
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 ;
 }
 
#NavbarSearchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button{
    background-color: rgb(197, 167, 191);
    border: 10px solid palevioletred;
    color: white;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 30px !important;
    color: rgb(141, 102, 133) !important;
}

.navbar-nav {
    gap: 20px;
    list-style: none;
    padding-top: 5px;
}

.nav-item {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 10px 15px !important;
    transition: color 0.3s ease;
    color: #333 !important;
}

.nav-link:hover {
    color: rgb(197, 167, 191) !important;
}

.nav-link.active {
    color: rgb(197, 167, 191) !important;
    font-weight: bold;
}

.navbar-toggler {
    margin-left: auto;
}

.container-fluid {
    background-color: rgb(247, 236, 223);
 
}
#NavbarSearchContainer {
    background-color: rgb(247, 236, 223);
}

/* pretty pink color: rgb (247, 223, 235) */