.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: bisque;
    display: flex;
    margin-top: 2%;
    border-radius: 20px;
}

h1{
    text-shadow: palevioletred 2px 1px 2px;
    padding-left: 10%;
}
p{
 padding-left: 10%;
 padding-right: 10%;
 font-size: medium;   
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 ;
 }
 
#NavbarSearchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button{
    background-color: rgb(197, 167, 191);
    border: 10px solid palevioletred;
    color: white;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 30px !important;
    color: rgb(141, 102, 133) !important;
}

.navbar-nav {
    gap: 20px;
    list-style: none;
    padding-top: 5px;
}

.nav-item {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 10px 15px !important;
    transition: color 0.3s ease;
    color: #333 !important;
}
.nav-link.active,.nav-link:hover {
    color: rgb(197, 167, 191) !important;
    font-weight: bold;
}

.navbar-toggler {
    margin-left: auto;
}

.container-fluid {
    background-color: rgb(247, 236, 223);
 
}

/* pretty pink color: rgb(247, 223, 235) */

/* Obsessions */
.Obsessions{
    width: 400px;
    background-color: rgb(247, 223, 235);
    border-radius: 10px;
    padding:10px;
    margin: 20px;
}
#Obsessions-title{
    font-weight: bold;
    justify-content: center;
    display:flex;
}
.currentObsessions{
    display:flex;
    justify-content: center;
    width: 100%;
}
#obsessions-description{
    width: 120%;
    justify-content: center;
    display:flex;
}

/* Favorites */
.favorites{
    width: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(247, 236, 223);
    padding:10px;
    margin: 20px;
    border-radius: 10px;
}

#Favorites-title{
    font-weight: bold;
    justify-content: center;
    display:flex;
    width: 100%;
}

#hobbies, #animes, #videogames, #artists, #movies {
    font-weight: bold;
    text-decoration: underline;
}