h1, h2, h3, h4, h5, h6{
    color: rgb(252, 163, 178);
    text-align: center;

}
h5{
    font-size:30px;
}
body{
    background-color: rgb(255, 237, 220);
    font-display: center;
}
.cat{
    border: 5px solid pink;
    border-radius: 10px;
    width: 800px;
}

img{
    border: 5px solid pink;
    border-radius: 10px;
    width: 800px;
    display: block; margin-left: auto; margin-right: auto; width: 50%; 
}

p{
    text-align: center;
}

a{
    text-align: center;
    font-size: 20px;
    display: block; margin-left: auto; margin-right: auto; width: 50%; 
}